{% extends 'base.html' %}

{% block title %} Detail {% endblock title %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                {% if object.photo %}
                    <img src="{{ object.photo.url }}" alt="{{ object.title }}" class="card-img-top">
                {% endif %}
                <h1 class="card-title">{{ object.title }}</h1>
                <h6 class="card-subtitle mb-2 text-muted">Muallif {{ object.author }} | {{ object.date }}</h6>
                <p class="card-text">{{ object.body | safe }}</p>
                <a href="{% url 'article_edit' article.pk %}" class="btn btn-outline-info">Tahrirlash</a>
                <a href="{% url 'article_delete' article.pk %}" class="btn btn-outline-danger">O'chirish</a>
                <a href="{% url 'article_list' %}" class="btn btn-outline-primary">Barcha postlar</a>
                <a href="{% url 'article_create' %}" class="btn btn-outline-success">New + </a>

            </div>
            <div class="card">
                <div class="card-header">Izohlar</div>
                {% for comment in article.comment.all %}
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>{{ comment }}</p>
                            <footer class="blockquote-footer">{{ comment.author }}</footer>
                        </blockquote>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}